.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]
.env
.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

static/
posts/static/
.sent_emails/
sent_emails/

db.sqlite3
